#F7F7F7

.cell {
  display: flex;
  margin-bottom: 16px;
}

.line {
  width: 10px;
  background-color: #c2d5ff ;
  margin-right:16px;
}

.you {
  display: flex;
  margin-bottom: 16px;
  margin-left: 16px;
}

.coatch {
  display: flex;
  background-color: #fff2f2;
  margin-bottom: 16px;
  margin-left: 16px;
}

.new-question {
  text-decoration: none;
}
